<form nz-form #f="ngForm" se-container size="compact" gutter="24">
  <se label="账号" required col="1">
    <input type="text" nz-input [(ngModel)]="record.account" name="record_account" required />
  </se>
  <se label="密码" required col="1">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        nz-input
        [(ngModel)]="record.password"
        name="record_password"
        required
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </se>
  <se label="姓名" required col="1">
    <input type="text" nz-input [(ngModel)]="record.name" name="record_name" required />
  </se>

  <se label="状态" col="1">
    <nz-select class="zc_select_default" [(ngModel)]="record.status" name="record_status" nzPlaceHolder="请选择">
      <ng-container *ngFor="let option of statusSelected">
        <nz-option [nzValue]="option.Value" [nzLabel]="option.Text"></nz-option>
      </ng-container>
    </nz-select>
  </se>

  <se label="所属机构" col="1">
    <nz-tree-select
      class="full"
      nzPlaceHolder="请选择机构"
      [nzNodes]="extra"
      [nzDefaultExpandAll]="true"
      [nzAllowClear]="true"
      [(ngModel)]="record.orgId"
      name="record_orgId"
    >
    </nz-tree-select>
  </se>
</form>
