<div class="tool-bar">
  <div>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="small">
      <input type="text" nz-input placeholder="关键字" [(ngModel)]="keyword" (keyup.enter)="refresh()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSize="small" nzSearch (click)="refresh()">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="add($event)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="add($event)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      为用户分配角色
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="refresh()">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
      刷新
    </button>
  </div>
</div>

<div nz-row nzGutter="24">
  <div nz-col nzMd="24" nzLg="7">
    <nz-card [nzBordered]="false" nzSize="small" [nzTitle]="titleTpl">
      <ng-template #titleTpl>
        <a (click)="all()">
          所有用户>>
        </a>
      </ng-template>

      <nz-tree
        [nzData]="nodes"
        nzExpandAll
        nzBlockNode
        (nzClick)="select($event)"
        class="mhb"
        [nzTreeTemplate]="nzTreeTemplate"
      >
      </nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <span class="e_tree-node" [ngClass]="{ 'e_tree-node-selected': node.isSelected }">
          <i nz-icon nzType="file" class="mr4"></i>
          <span class="file-name">{{ node?.origin?.no }}</span>
          <span class="file-desc"> {{ node?.origin?.name }}</span>
        </span>
      </ng-template>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="17">
    <nz-card [nzBordered]="false" nzSize="small">
      <st #st [data]="list" size="small" [columns]="columns"></st>
    </nz-card>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzFooter]="footerTip"
  [nzMaskClosable]="false"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <form nz-form #f="ngForm" se-container size="compact" gutter="24">
    <se label="账号" required col="1">
      <input type="text" nz-input [(ngModel)]="user.loginName" name="user_loginName" required />
    </se>

    <se label="姓名" required col="1">
      <input type="text" nz-input [(ngModel)]="user.name" name="user_name" required />
    </se>

    <se label="状态" col="1">
      <nz-select class="zc_select_default" [(ngModel)]="user.status" name="user_status" nzPlaceHolder="请选择">
        <ng-container *ngFor="let option of statusSelected">
          <nz-option [nzValue]="option.Value" [nzLabel]="option.Text"></nz-option>
        </ng-container>
      </nz-select>
    </se>

    <se label="所属机构" col="1">
      <nz-tree-select
        class="full"
        nzPlaceHolder="请选择机构"
        [nzNodes]="nodes"
        [nzDefaultExpandAll]="true"
        [nzAllowClear]="true"
        [(ngModel)]="user.orgId"
        name="user_orgId"
        [nzMultiple]="true"
      >
      </nz-tree-select>
    </se>

    <se label="描述" col="1">
      <input type="text" nz-input [(ngModel)]="user.summary" name="user_summary" />
    </se>
  </form>

  <ng-template #footerTip>
    <button nz-button type="button" nzType="default" (click)="reset()">取消</button>
    <button
      nz-button
      type="submit"
      nzType="primary"
      [disabled]="f.invalid"
      [nzLoading]="loading"
      (click)="handleOk($event)"
    >
      保存
    </button>
  </ng-template>
</nz-modal>
