<form nz-form #f="ngForm" se-container labelWidth="100" size="compact" gutter="24">
  <se label="标题" col="1">
    <input nz-input [(ngModel)]="record.title" name="record_title" required />
  </se>
  <se label="名称" col="1">
    <input nz-input [(ngModel)]="record.name" name="record_name" required />
  </se>
  <se label="描述" col="1">
    <textarea rows="4" nz-input [(ngModel)]="record.desc" name="record_desc"></textarea>
  </se>
  <se label="表单" required col="1">
    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
  </se>
</form>
