<div class="tool-bar">
  <div>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nzSize="small">
      <input type="text" nz-input placeholder="关键字" [(ngModel)]="keyword" (keyup.enter)="refresh()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <i
        nz-icon
        nz-tooltip
        class="ant-input-clear-icon zc-clear-small"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="keyword"
        (click)="keyword = null"
      ></i>
      <button nz-button nzType="primary" nzSize="small" nzSearch (click)="refresh()">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="add($event)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增菜单
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="edit($event)">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      编辑菜单
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="delete($event)">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      删除菜单
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="addElement($event)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增元素
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="editElement($event)">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      编辑元素
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="deleteElement($event)">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      删除元素
    </button>
  </div>
  <div>
    <button type="button" nz-button nzType="default" nzSize="small" (click)="refresh()">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
      刷新
    </button>
  </div>
</div>
<div nz-row nzGutter="24">
  <div nz-col nzMd="24" nzLg="12">
    <nz-card [nzBordered]="false" nzSize="small" [nzTitle]="titleTpl">
      <ng-template #titleTpl>
        <a (click)="all()">
          所有菜单>>
        </a>
      </ng-template>

      <nz-table #expandTable [nzData]="nodes" nzShowPagination="false">
        <thead>
          <tr>
            <th nzWidth="40%">模块名称</th>
            <th nzWidth="30%">模块标记</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of expandTable.data">
            <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
              <tr *ngIf="(item.parent && item.parent.expand) || !item.parent" (click)="trClick(item)">
                <td
                  [nzIndentSize]="item.level * 20"
                  [nzShowExpand]="!!item.children"
                  [(nzExpand)]="item.expand"
                  (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                >
                  <label nz-radio [(ngModel)]="item.isCheck">
                    {{ item.name }}
                  </label>
                </td>
                <td>{{ item.code }}</td>
                <td>{{ item.url }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="12">
    <nz-card [nzBordered]="false" nzSize="small">
      <st #st [data]="list" size="small" [columns]="columns"></st>
    </nz-card>
  </div>
</div>
